<div class="py-4">
  <div class="font-bold text-xl mb-2">
    <a class="no-underline text-blue-dark hover:text-blue-darkest" href={{model.url}} target="_blank">{{model.headline}}</a>
  </div>
  <p class="text-grey-darker text-base">
    {{model.summary}}
  </p>
</div>
<div class="py-4">
  <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">{{model.source}}</span>
</div>