<h1 class="title">{{name}}</h1>
<div class="layout-xs-column layout-gt-sm-row layout-align-gt-sm-start layout-align-center-center">
  {{#each taglineParts as |item|}}
    <p class="tagline">{{item}}</p>
  {{/each}}
</div>
{{#paper-button href=(concat "mailto:" email) class="email"}}{{email}}{{/paper-button}}