<h1 class="text-5xl text-center text-white uppercase mb-2">{{name}}</h1>
<div
  class="flex sm:flex-col md:flex-row items-stretch content-center justify-center"
>
  {{#each taglineParts as |item|}}
    <p class="text-blue tracking-wide mr-4">{{item}}</p>
  {{/each}}
</div>
{{#paper-button href=(concat "mailto:" email) class="bg-red"}}{{email}}{{/paper-button}}