<h1 class="text-4xl text-center text-white uppercase mb-2">{{name}}</h1>
<div
  class="flex sm:flex-col md:flex-row items-stretch content-center justify-center mb-2"
>
  {{#each taglineParts as |item|}}
    <p class="text-blue tracking-wide mx-1">{{item}}.</p>
  {{/each}}
</div>
<a href={{concat "mailto:" email}} class="adm-btn">{{email}}</a>