{{adm-github-ribbon
  class="absolute pin-r pin-t"
  color=bannerColor
  username=username
}}
{{#adm-navbar homeRoute="profile" class="absolute mx-auto w-2/3 text-orange" as |link|}}
  {{link "Sample Stock Dashboard" "sample-dashboard.index"
    class="no-underline text-grey-darker hover:text-orange"
  }}
{{/adm-navbar}}
<div class="grid grid-columns grid-rows grid-template-areas-default h-screen">
  <div class="grid-area-main">
    {{adm-hero-banner
      class="p-4 flex flex-no-shrink flex-1 flex-col justify-center bg-blue-darkest h-full"
      name=name
      taglineParts=tagline
      email=email
    }}
  </div>
  <div class="grid-area-footer">
    <div class="flex flex-col flex-1 md:flex-initial md:flex-row">
      {{#each skills as |skill|}}
        {{#adm-checklist-container color=skill.color}}
          {{adm-checklist title=skill.label textColor=skill.color items=skill.value}}
        {{/adm-checklist-container}}
      {{/each}}
    </div>
  </div>
</div>