<div class="flex flex-col h-screen">
  <div class="flex flex-1 flex-row justify-center bg-blue-darkest">
    <div
      class="flex flex-col justify-center"
    >
      {{adm-hero-banner
        name=name
        taglineParts=tagline
        email=email
      }}
    </div>
  </div>
  <div class="flex sm:flex-col md:flex-row">
    {{#each skills as |skill|}}
      {{#adm-checklist-container color=skill.color}}
        {{adm-checklist title=skill.label textColor=skill.color items=skill.value}}
      {{/adm-checklist-container}}
    {{/each}}
  </div>
</div>