<h4>{{title}}</h4>
<div class="layout-row layout-wrap layout-align-stretch flex">
  {{#each items as |item|}}
    <div class="checklist-item layout-row">{{paper-icon "done" size=24}} {{item}}</div>
  {{/each}}
</div>