<div class="bg-grey-lighter h-screen overflow-x-auto">
  <div class="grid grid-rows-dashboard grid-gap-8 grid-columns grid-template-areas-dashboard p-8 w-2/3 mx-auto">
    <div class="grid-area-stats flex">
      <div class="adm-card flex-1 mx-4 -ml-0">
        <div class="adm-stat">
          <div class="label">Money Spent</div>
          <div class="value">$623.84</div>
        </div>
      </div>
      <div class="adm-card flex-1 mx-4">
        <div class="adm-stat">
          <div class="label">Money Saved</div>
          <div class="value">$89.49</div>
        </div>
      </div>
      <div class="adm-card flex-1 mx-4">
        <div class="adm-stat">
          <div class="label">Money Earned</div>
          <div class="value">$1203.45</div>
        </div>
      </div>
      <div class="adm-card flex-1 mx-4 -mr-0">
        <div class="adm-stat">
          <div class="label">Money Owed</div>
          <div class="value">$124.34</div>
        </div>
      </div>
    </div>
    <div class="grid-area-graphs flex">
      <div class="adm-card flex-1 mr-4">
        {{high-charts mode="StockChart" chartOptions=candlestickOptions content=candlestickData}}
      </div>
      <div class="adm-card flex-1 ml-4">
        {{high-charts chartOptions=lineOptions content=lineData}}
      </div>
    </div>
    <div class="grid-area-table flex">
      <div class="adm-card flex-auto">
        <h3>News</h3>
        {{#each model as |stock|}}
          {{#each stock.news as |item|}}
            {{adm-news-item class="border-grey-lighter border-0 border-b-2" model=item}}
          {{/each}}
        {{/each}}
      </div>
    </div>
  </div>
</div>